@import "mixins.scss";
@import "../../../../widgets/brease/MomentaryPushButton/meta/MomentaryPushButton_base";
.widgets_brease_MomentaryPushButton_style_Kannegiesser1 {
@include widgets_brease_MomentaryPushButton_base; 
span {
	font-size: 12px;
}
span {
@include font-weight-bold(true);
}
&:not(.disabled):not(.active):not(.checked) span {
	color: #474747;
}
&.active:not(.disabled):not(.editMode) span {
	color: #066dab;
}
&.checked:not(.disabled) span {
	color: #066dab;
}
@include border-radius(5px);
&:not(.active):not(.checked) {
	border-width: 0px 0px 0px 0px;
}
&.disabled {
	border-width: 0px 0px 0px 0px;
}
&.active:not(.disabled):not(.editMode) {
	border-width: 0px 0px 0px 0px;
}
&.checked:not(.disabled) {
	border-width: 0px 0px 0px 0px;
}
&:not(.disabled):not(.active):not(.checked) {
	border-color: #A899A0 #5F5F5F #5F5F5F #A899A0;
}
&.active:not(.disabled):not(.editMode) {
	border-color: #FFA947 #FD7B01 #FD7B01 #FFA947;
}
&.checked:not(.disabled) {
	border-color: #FFA947 #FD7B01 #FD7B01 #FFA947;
}
&:not(.disabled):not(.active):not(.checked) {
@include backGroundGradient('linear-gradient(to bottom, rgba(247,247,247,1) 0%,rgba(229,229,229,1) 100%)');
}
&.active:not(.disabled) {
@include backGroundGradient('linear-gradient(to bottom, rgba(229,229,229,1) 0%,rgba(247,247,247,1) 100%) ');
}
&.checked:not(.disabled) {
@include backGroundGradient('linear-gradient(to bottom, rgba(229,229,229,1) 0%,rgba(247,247,247,1) 100%) ');
}
&.disabled {
@include backGroundGradient('linear-gradient(135deg, #777777 0%,#bbbbbb 0%,#777777 4%,#777777 4%,#777777 86%,#eeeeee 98%)');
}
&.disabled.active {
@include backGroundGradient('linear-gradient(135deg, #777777 0%,#bbbbbb 0%,#777777 4%,#777777 4%,#777777 86%,#eeeeee 98%)');
}
&.disabled.checked {
@include backGroundGradient('linear-gradient(135deg, #777777 0%,#bbbbbb 0%,#777777 4%,#777777 4%,#777777 86%,#eeeeee 98%)');
}

}
@import "../../../../widgets/brease/DropDownBox/meta/DropDownBox_base";
.widgets_brease_DropDownBox_style_Kannegiesser1 {
@include widgets_brease_DropDownBox_base; 
& .TextView {
	font-size: 12px;
}
& .TextView {
	font-size: 12px;
}
& .TextView {
@include font-weight-bold(false);
}
& .TextView {
@include font-weight-bold(false);
}
& > .ItemView:not(.itemSelected):not(.itemDisabled) > .TextView:not(.textSelected) {
	color: #474747;
}
& > .ItemView:not(.itemSelected):not(.itemDisabled) {
@include backGroundGradient('linear-gradient(to bottom,#F7F7F7 0%,#C6C6C6 100%)');
}
& > .ItemView.itemDisabled {
@include backGroundGradient('linear-gradient(to bottom, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%)');
}
& > .ItemView.itemSelected:not(.itemDisabled) > .TextView.textSelected {
	color: #FFFFFF;
}
&.DropDownBoxView {
@include border-radius(5px);
}
& > .ItemView {
@include border-radius(5px);
}
& > .ListView.Container {
@include border-radius(5px);
}
& > .ListView.Container > .ListView.List > .ItemView:not(.itemSelected) {
	background-color: #077cc5;
}
& > .ItemView:not(.itemSelected) {
	border-width: 0px 0px 0px 5px;
}
& > .ItemView.itemSelected {
	border-width: 0px 0px 0px 2px;
}
& > .ItemView:not(.itemSelected):not(.itemDisabled) {
	border-color: #A899A0 #FF8A00 #5F5F5F #077cc5;
}
& > .ListView.Container {
	border-color: #A899A0 #FF8A00 #5F5F5F #077cc5;
}
& > .ItemView.itemSelected:not(.itemDisabled) {
	border-color: #FFA947 #FD7B01 #FD7B01 #FD7B01;
}
& > .ListView.Container > .ListView.List > .ItemView > .TextView.textSelected {
	color: #FFFFFF;
}
& > .ListView.Container > .ListView.List > .ItemView.itemSelected {
@include backGroundGradient('linear-gradient(to bottom, #FFAA4D 0%,#FF8500 100%)');
}
& > .ListView.Container {
	border-width: 0px;
}
& .TextView {
@include text-alignment(left);
}
& .TextView {
@include text-alignment(left);
}

}
@import "../../../../widgets/brease/LanguageSelector/meta/LanguageSelector_base";
.widgets_brease_LanguageSelector_style_Kannegiesser1 {
@include widgets_brease_LanguageSelector_base; 
& .TextView {
	font-size: 16px;
}
& .TextView {
	font-size: 16px;
}
& .TextView {
@include font-weight-bold(true);
}
& .TextView {
@include font-weight-bold(true);
}
& > .ItemView:not(.itemSelected):not(.itemDisabled) > .TextView:not(.textSelected) {
	color: #474747;
}
& > .ItemView.itemSelected:not(.itemDisabled) > .TextView.textSelected {
	color: #FFFFFF;
}
&.DropDownBoxView {
@include border-radius(8px);
}
& > .ItemView {
@include border-radius(8px);
}
& > .ListView.Container {
@include border-radius(8px);
}
& > .ItemView:not(.itemSelected) {
	border-width: 0px 0px 0px 0px;
}
& > .ListView.Container {
	border-width: 0px 0px 0px 0px;
}
& > .ItemView.itemSelected {
	border-width: 0px 0px 0px 0px;
}
& > .ItemView:not(.itemSelected):not(.itemDisabled) {
@include backGroundGradient('linear-gradient(to bottom,#F7F7F7 0%,#C6C6C6 100%)');
}
& > .ListView.Container > .ListView.List > .ItemView.itemSelected {
@include backGroundGradient('linear-gradient(to bottom, #4A4A4A 0%,#7C7C7C 100%) ');
}
& > .ItemView.itemDisabled {
@include backGroundGradient('linear-gradient(to bottom, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%)');
}
&.DropDownBoxView {
@include box-shadow(4px 4px 14px 0px rgba(62, 79, 92, 0.75));
}

}
@import "../../../../widgets/brease/Button/meta/Button_base";
.widgets_brease_Button_style_Kannegiesser1 {
@include widgets_brease_Button_base; 
span {
	font-size: 12px;
}
span {
@include font-weight-bold(true);
}
&:not(.disabled):not(.active):not(.checked) span {
	color: #474747;
}
&.active:not(.disabled):not(.editMode) span {
	color: #066dab;
}
&.checked:not(.disabled) span {
	color: #066dab;
}
@include border-radius(5px);
&:not(.active):not(.checked) {
	border-width: 0px 0px 0px 0px;
}
&.disabled {
	border-width: 0px 0px 0px 0px;
}
&.active:not(.disabled):not(.editMode) {
	border-width: 0px 0px 0px 0px;
}
&.checked:not(.disabled) {
	border-width: 0px 0px 0px 0px;
}
&:not(.disabled):not(.active):not(.checked) {
	border-color: #A899A0 #5F5F5F #5F5F5F #A899A0;
}
&.active:not(.disabled):not(.editMode) {
	border-color: #FFA947 #FD7B01 #FD7B01 #FFA947;
}
&.checked:not(.disabled) {
	border-color: #FFA947 #FD7B01 #FD7B01 #FFA947;
}
&:not(.disabled):not(.active):not(.checked) {
@include backGroundGradient('linear-gradient(to bottom, rgba(247,247,247,1) 0%,rgba(229,229,229,1) 100%)');
}
&.active:not(.disabled) {
@include backGroundGradient('linear-gradient(to bottom, rgba(229,229,229,1) 0%,rgba(247,247,247,1) 100%) ');
}
&.checked:not(.disabled) {
@include backGroundGradient('linear-gradient(to bottom, rgba(229,229,229,1) 0%,rgba(247,247,247,1) 100%) ');
}
&.disabled {
@include backGroundGradient('linear-gradient(135deg, #777777 0%,#bbbbbb 0%,#777777 4%,#777777 4%,#777777 86%,#eeeeee 98%)');
}
&.disabled.active {
@include backGroundGradient('linear-gradient(135deg, #777777 0%,#bbbbbb 0%,#777777 4%,#777777 4%,#777777 86%,#eeeeee 98%)');
}
&.disabled.checked {
@include backGroundGradient('linear-gradient(135deg, #777777 0%,#bbbbbb 0%,#777777 4%,#777777 4%,#777777 86%,#eeeeee 98%)');
}
&:not(.active):not(.checked) {
@include box-shadow(4px 4px 10px 0px rgba(62, 79, 92, 0.75));
}
&.disabled.active {
@include box-shadow(4px 4px 10px 0px rgba(62, 79, 92, 0.75));
}
&.disabled.checked {
@include box-shadow(4px 4px 10px 0px rgba(62, 79, 92, 0.75));
}
&.active:not(.disabled):not(.editMode) {
@include box-shadow(2px 2px 6px 0px rgba(62, 79, 92, 0.75));
}
&.checked:not(.disabled) {
@include box-shadow(2px 2px 6px 0px rgba(62, 79, 92, 0.75));
}

}
@import "../../../../widgets/brease/MomentaryPushButton/meta/MomentaryPushButton_base";
.widgets_brease_MomentaryPushButton_style_orange {
@include widgets_brease_MomentaryPushButton_base; 
span {
	font-size: 12px;
}
span {
@include font-weight-bold(true);
}
&:not(.disabled):not(.active):not(.checked) span {
	color: #474747;
}
&:not(.disabled):not(.active):not(.checked) {
	background-color: rgba(219, 219, 219, 1);
}
&.active:not(.disabled):not(.editMode) span {
	color: #FFFFFF;
}
&.checked:not(.disabled) span {
	color: #FFFFFF;
}
@include border-radius(4px);
&:not(.active):not(.checked) {
	border-width: 0px 0px 0px 0px;
}
&.disabled {
	border-width: 0px 0px 0px 0px;
}
&.active:not(.disabled):not(.editMode) {
	border-width: 0px 0px 0px 0px;
}
&.checked:not(.disabled) {
	border-width: 0px 0px 0px 0px;
}
&:not(.disabled):not(.active):not(.checked) {
@include backGroundGradient('linear-gradient(to bottom,#F7F7F7 0%,#FF920A 100%)');
}
&.active:not(.disabled) {
@include backGroundGradient('linear-gradient(to bottom, #4A4A4A 0%,#7C7C7C 100%) ');
}
&.checked:not(.disabled) {
@include backGroundGradient('linear-gradient(to bottom, #4A4A4A 0%,#7C7C7C 100%) ');
}
&.disabled {
@include backGroundGradient('linear-gradient(to bottom, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%)');
}
&.disabled.active {
@include backGroundGradient('linear-gradient(to bottom, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%)');
}
&.disabled.checked {
@include backGroundGradient('linear-gradient(to bottom, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%)');
}
&:not(.active):not(.checked) {
@include box-shadow(none);
}
&.disabled.active {
@include box-shadow(none);
}
&.disabled.checked {
@include box-shadow(none);
}
&.active:not(.disabled):not(.editMode) {
@include box-shadow(2px 2px 8px 0px rgba(62, 79, 92, 0.75));
}
&.checked:not(.disabled) {
@include box-shadow(2px 2px 8px 0px rgba(62, 79, 92, 0.75));
}

}
